.form_edit__component {
    width: 100%;
    margin-bottom: 0.5em;
  }
  
  .form_edit__button--first {
    margin-right: 0.5em;
  }
  
  .form_edit__input {
    width: 100%;
    flex-grow: 1;
  }
  
  .form_edit__p {
    color: red;
  }